/* begin Box, Sheet */
.art-sheet-tl
{
  clip: rect(auto 21px 21px auto);
}

.art-sheet-tr
{
  clip: rect(auto auto 21px 21px);
}

.art-sheet-bl
{
  clip: rect(21px 21px auto auto);
}

.art-sheet-br
{
  clip: rect(21px auto auto 21px);
}

.art-sheet-tc
{
  clip: rect(auto auto 21px auto);
}

.art-sheet-bc
{
  clip: rect(21px auto auto auto);
}

.art-sheet-cr
{
  clip: rect(auto auto auto 21px);
}

.art-sheet-cl
{
  clip: rect(auto 21px auto auto);
}

.art-sheet-body
{
  zoom: 1;
}
/* end Box, Sheet */

/* begin MenuItem */
.art-menu a .r
{
  clip: rect(auto auto auto 412px);
}
/* end MenuItem */

/* begin Layout */
div.art-content-layout
{
  display: block;
  zoom: 1;
  overflow: hidden;
}
/* end Layout */

/* begin Box, Block, VMenuBlock */

.art-vmenublock-body
{
  zoom: 1;
}
/* end Box, Block, VMenuBlock */

/* begin Box, Box, VMenuBlockContent */

.art-vmenublockcontent-body
{
  zoom: 1;
}

.art-vmenublockcontent-body
{
  zoom: 1;
}
/* end Box, Box, VMenuBlockContent */

/* begin Box, Block */

.art-block-body
{
  zoom: 1;
}
/* end Box, Block */

/* begin Box, BlockContent */

.art-blockcontent-body
{
  zoom: 1;
}
/* end Box, BlockContent */

/* begin Button */
.art-button-wrapper .r
{
  clip: rect(auto auto auto 405px);
}
/* end Button */

/* begin Box, Post */

.art-post-body
{
  zoom: 1;
}
/* end Box, Post */

/* begin PostContent */
.art-postcontent
{
  height: 1%;
}
/* end PostContent */

/* begin LayoutCell, content */
div.art-content
{
  width: auto;
}

div.art-content-layout div.art-layout-cell, div.art-content-layout div.art-layout-cell div.art-content-layout div.art-layout-cell
{
  display: block;
  overflow: hidden;
  float: left;
  clear: right;
  margin-bottom: -32000px;
  padding-bottom: 32000px;
}

div.art-layout-cell div.art-layout-cell
{
  float: none;
  clear: both;
  margin-bottom: 0;
  padding-bottom: 0;
}/* end LayoutCell, content */