.ds_box {
	background-color: #FFF;
	border: 1px solid #000;
	position: absolute;
	z-index: 32767;
}

.ds_tbl {
	background-color: #FFF;
}

.ds_head {
	background-color: #333;
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	letter-spacing: 2px;
}

.ds_subhead {
	background-color: #CCC;
	color: #000;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	width: 32px;
}

.ds_cell {
	background-color: #EEE;
	color: #000;
	font-size: 13px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	padding: 5px;
	cursor: pointer;
}

.ds_cell:hover {
	background-color: #F3F3F3;
}

#tab_filtre
{
    border: none;
}

#tab_filtre tr td
{
    border: none;
}
#tab_filtre .total
{
	width:700px;
	text-align:center;
	vertical-align:middle;
	font-size:1.5em;
}

#tab, #tab caption
{
    margin: auto;
}

#tab
{
    border: #DDEEFF 1px solid;
    border-collapse: separate;
    border-spacing: 1px;
}

#tab caption
{
    background-color: #DDEEFF;
	font-size: 0.8em;
}

#tab th
{
    color: #996600;
    background-color: #FFCC66;
    border: #FFCC66 1px solid;
    font-variant: small-caps;
    font-size: 0.8em;
    letter-spacing: 1px;
}

#tab td
{
	padding:2px;
    font-size: 0.8em;
}

#tab .td1
{
	background-color: #FCFAE1;
    border: #DDEEFF 1px solid;
    padding-left: 10px;
}

#tab .td2
{
	background-color: #F7F2B2;
    border: #DDEEFF 1px solid;
    padding-left: 10px;
}
#tab .td3
{
	background-color: #EBA68D;
    border: #DDEEFF 1px solid;
    padding-left: 10px;
}
.apercu
{
width:1650px;
overflow:auto;
border:0px solid;
}

.ul_recherche {
font-size:16px;
color:darkred;
font-weight:bold;
}